@font-face {
    font-family: 'vazir';
    src: url("public/font/Vazirmatn-Black.woff2");
}
@font-face {
    font-family: 'vazir';
    src: url("public/font/Vazirmatn-Bold.woff2");
    font-weight: bold;
}
@font-face {
    font-family: 'vazir';
    src: url("public/font/Vazirmatn-Medium.woff2");
    font-weight: auto;
}
@font-face {
    font-family: 'vazir';
    src: url("public/font/Vazirmatn-ExtraBold.woff2");
}
@font-face {
    font-family: 'vazir';
    src: url("public/font/Vazirmatn-Light.woff2");
}
@tailwind base;
@tailwind components;
@tailwind utilities;


